{% extends 'shared/master.html' %}
{% block title %}
    ورود
{% endblock %}
{% block header_references %}
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block content %}
    <section class="my_account parallax" style="background-position: 50% 70px;">
        <!-- CONTAINER -->
        <div class="container">
            <div class="my_account_block clearfix">
                <div class="login">
                    <h2 class="text-right">ورود به حساب کاربری</h2>
                    <form class="login_form" action="#" method="post">
                        {% csrf_token %}
                        <p class="h3 text-right">{{ login_form.email.label }}</p>
                        {{ login_form.email }}
                        <div class="text-danger padbot10 h5 text-right">{{ login_form.email.errors }}</div>
                        <p class="h3 text-right">{{ login_form.password.label }}</p>
                        {{ login_form.password }}
                        <div class="text-danger padbot10 h5 text-right">{{ login_form.password.errors }}
                        </div>
                        <p class="text-right"><a class="forgot_pass h5 padbot10 padtop0"
                                                 href="{% url 'forget_password_page' %}">فراموشی کلمه
                            عبور</a></p>
                        <button class="btn btn-lg btn-outline-secondary btn-block">ورود</button>
                    </form>
                </div>
                <div class="new_customers">
                    <h2>مشتریان جدید</h2>
                    <p class="h4 padbot10">— با فروشگاه گلامی ثبت نام کنید تا از خدمات شخصی سازی شده لذت ببرید، از
                        جمله:</p>
                    <p class="h4 padbot10">— وضعیت سفارش آنلاین</p>
                    <p class="h4 padbot10">— علاقه مندی ها</p>
                    <p class="h4 padbot10">— برای دریافت اخبار اختصاصی و فروش خصوصی ثبت نام کنید</p>
                    <p class="h4 padbot10">— ثبت سفارشات تستی</p>
                    <p class="h4 padbot10"> — تسویه حساب سریع و آسان</p>
                    <div class="center"><a class="btn btn-block btn-outline-secondary btn-lg active"
                                           href="{% url 'register_page' %}">ثبت نام</a></div>
                </div>
            </div>
            <p class="h1 text-center padbot30">سوالی دارید ؟ <b>2828 888 800 1</b></p>
        </div><!-- //CONTAINER -->
    </section>
{% endblock %}