<footer>
    <!-- CONTAINER -->
    <div class="container animated fadeInUp" data-animated="fadeInUp">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
                <h4>راه ارتباطی</h4>
                <div class="foot_address"><span>فروشگاه گلامی</span>اصفهان , خیابان شیخ صدوق</div>
                <div class="foot_phone"><a href="">09914759306</a></div>
                <div class="foot_mail"><a href="">info@glamyshop.com</a></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
                <h4>اطلاعات</h4>
                <ul class="foot_menu">
                    <li><a href="">درباره ما</a></li>
                    <li><a href="">امنیت</a></li>
                    <li><a href="">وبلاگ</a></li>
                    <li><a href="">ارتباط با ما</a></li>
                </ul>
            </div>
            <div class="respond_clear_480"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
                <h4>درباره فروشگاه</h4>
                <p> نام، شماره تلفن، آدرس منزل، آدرس ایمیل و سن شما را برای مسابقات، قرعه کشی جوایز یا ثبت نام در
                    خبرنامه می خواهیم. هنگامی که خریدی در سایت ما انجام می شود، علاوه بر موارد فوق، آدرس تحویل و جزئیات
                    روش پرداخت را نیز می خواهیم.</p>
                <p>ما ممکن است اطلاعاتی در مورد استفاده شما از وب سایت خود به دست آوریم تا به ما در توسعه و بهبود بیشتر
                    آن از طریق نظرسنجی های آنلاین و سایر درخواست ها کمک کند</p>
            </div>
            <div class="col-lg-4 col-md-4 padbot30">
                <h4>خبرنامه</h4>
                <h4>ما را در شبکات مجازی دنبال کنید</h4>
                <div class="social">
                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-pinterest-square"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-tumblr"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->

    <!-- COPYRIGHT -->
    <div class="copyright">
        <!-- CONTAINER -->
        <div class="container clearfix">
            <div class="foot_logo"><a href="{% url 'home_page' %}"><img src="/static/images/foot_logo.png" alt=""></a>
            </div>
            <div class="copyright_inf">
                <span>Glammy Shop© 2014</span> |
                <span> برنامه نویس : امیرعلی شیرانی</span> |
                <a class="back_top" href="javascript:void(0);">Back to Top <i class="fa fa-angle-up"></i></a>
            </div>
        </div><!-- //CONTAINER -->
    </div><!-- //COPYRIGHT -->
</footer><!-- //FOOTER -->